body{
    font-family: 'Courier New', Courier, monospace;
}
header {
    text-align: center;
    padding: 10px 16px;
    background: #318012;
    color: #f1f1f1;
}
  
table{
    border-collapse: collapse;
    width: 800px;
    height: 300px;
}
th{
    color: #fff;
    font-size: 25px;
 background-color: #739fdd;
}
tr{ 
    border: 1px solid #000;
}
.cor{
	background-color: #e9e9e9;
}
footer {
    font-size: 20px;
    position: absolute;
    bottom: 0;
    background-color: #318012;
    color: #FFF;
    width: 100%;
    height: 50px;    
    text-align: center;
    line-height: 50px;
}